In [341]:
# Read and Import
import os
#os.chdir('titanic')

import pandas as pd

train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [342]:
train.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [343]:
# Features and Target
# train_f=train.drop(['Survived'],axis=1)
# train_t=train['Survived']
train_f=train

In [344]:
# Missing Values
for i in train_f.columns:
    print(i,train_f[i].isnull().sum())

PassengerId 0
Survived 0
Pclass 0
Name 0
Sex 0
Age 177
SibSp 0
Parch 0
Ticket 0
Fare 0
Cabin 687
Embarked 2

In [345]:
# New column - Salutation, to impute Age
import re

train_f['Salutation']=train_f['Name'].apply(lambda x : list(re.findall(' ([A-Za-z]{1,4})\.',x))[0] if list(re.findall(' ([A-Za-z]{1,4})\.',x)) else 'None')

In [346]:
# Find Median Age to impute
age_med=train_f.groupby('Salutation').agg({'Age':'median'}).reset_index().rename(columns={'Age':'Med_Age'})
age_med

   Salutation  Med_Age
0        Capt     70.0
1         Col     58.0
2         Don     40.0
3          Dr     46.5
4        Lady     48.0
5        Miss     21.0
6        Mlle     24.0
7         Mme     24.0
8          Mr     30.0
9         Mrs     35.0
10         Ms     28.0
11       None      4.0
12        Rev     46.5
13        Sir     49.0

In [347]:
# Impute missing ages
train_f=pd.merge(train_f,age_med,on='Salutation',how='left')
train_f['Age'].fillna(train_f['Med_Age'],inplace=True)
train_f

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Salutation,Med_Age
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,30.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,35.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,21.0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,35.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rev,46.5
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss,21.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,21.0,1,2,W./C. 6607,23.4500,NaN,S,Miss,21.0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr,30.0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr,30.0

In [348]:
# def isNaN(num):
#     return num != num

# def enum(l):
#     res=''
#     for i in set(l):
#         res=res+str(l.count(i))+str(i)
#     return res


train_f['cabin_cat']=train_f['Cabin'].apply(lambda x: str(x).strip()[0])
#train_f['cabin_cat']=train_f['cabin_cat'].replace('n',np.NaN)
train_f

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Salutation,Med_Age,cabin_cat
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,30.0,n
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,35.0,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,21.0,n
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,35.0,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,30.0,n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rev,46.5,n
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss,21.0,B
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,21.0,1,2,W./C. 6607,23.4500,NaN,S,Miss,21.0,n
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr,30.0,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr,30.0,n

In [349]:
# Analyze Fare to backfill cabin
import numpy as np

fare_analysis= pd.pivot_table(train_f,index=['Fare'],columns=['cabin_cat'],values='PassengerId',aggfunc=len).reset_index()
fare_analysis.fillna(-99,inplace=True)
fare_analysis.sort_values(by='Fare',ascending=False,inplace=True)
print(fare_analysis.to_string())

cabin_cat      Fare     A     B     C     D     E     F     G     T     n
247        512.3292 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
246        263.0000 -99.0 -99.0   4.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
245        262.3750 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
244        247.5208 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
243        227.5250 -99.0 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
242        221.7792 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
241        211.5000 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
240        211.3375 -99.0   3.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
239        164.8667 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
238        153.4625 -99.0 -99.0   3.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
237        151.5500 -99.0 -99.0   3.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
236        146.5208 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
235        135.6333 -99.0 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
234        134.5000 -99.0 -99.0 -99.0 -99.0   2.0 -99.0 -99.0 -99.0 -99.0
233        133.6500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
232        120.0000 -99.0   4.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
231        113.2750 -99.0 -99.0 -99.0   3.0 -99.0 -99.0 -99.0 -99.0 -99.0
230        110.8833 -99.0 -99.0   3.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
229        108.9000 -99.0 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
228        106.4250 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
227         93.5000 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
226         91.0792 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
225         90.0000 -99.0 -99.0   4.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
224         89.1042 -99.0 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
223         86.5000 -99.0   3.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
222         83.4750 -99.0 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
221         83.1583 -99.0 -99.0   2.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0
220         82.1708 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
219         81.8583   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
218         80.0000 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
217         79.6500 -99.0 -99.0 -99.0 -99.0   3.0 -99.0 -99.0 -99.0 -99.0
216         79.2000 -99.0   3.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
215         78.8500 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
214         78.2667 -99.0 -99.0 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0
213         77.9583 -99.0 -99.0 -99.0   3.0 -99.0 -99.0 -99.0 -99.0 -99.0
212         77.2875 -99.0 -99.0 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0
211         76.7292 -99.0 -99.0 -99.0   3.0 -99.0 -99.0 -99.0 -99.0 -99.0
210         76.2917 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0
209         75.2500 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0
208         73.5000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   5.0
207         71.2833 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
206         71.0000 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
205         69.5500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   7.0
204         69.3000 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
203         66.6000 -99.0 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
202         65.0000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
201         63.3583 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0
200         61.9792 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
199         61.3792 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
198         61.1750 -99.0 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0
197         59.4000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
196         57.9792 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
195         57.0000 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
194         56.9292   1.0 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0
193         56.4958 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   7.0
192         55.9000 -99.0 -99.0 -99.0 -99.0   2.0 -99.0 -99.0 -99.0 -99.0
191         55.4417 -99.0 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0
190         55.0000 -99.0 -99.0 -99.0 -99.0   2.0 -99.0 -99.0 -99.0 -99.0
189         53.1000 -99.0 -99.0   2.0   1.0   2.0 -99.0 -99.0 -99.0 -99.0
188         52.5542 -99.0 -99.0 -99.0   3.0 -99.0 -99.0 -99.0 -99.0 -99.0
187         52.0000   1.0   1.0   3.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
186         51.8625 -99.0 -99.0 -99.0   1.0   1.0 -99.0 -99.0 -99.0 -99.0
185         51.4792 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
184         50.4958   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
183         50.0000   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
182         49.5042 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
181         49.5000 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
180         47.1000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
179         46.9000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   6.0
178         42.4000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
177         41.5792 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   3.0
176         40.1250   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
175         39.6875 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   6.0
174         39.6000   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
173         39.4000 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0
172         39.0000 -99.0 -99.0 -99.0 -99.0 -99.0   2.0 -99.0 -99.0   2.0
171         38.5000 -99.0 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0
170         37.0042 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
169         36.7500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
168         35.5000   2.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0   1.0 -99.0
167         35.0000 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
166         34.6542   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
165         34.3750 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   4.0
164         34.0208 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0
163         33.5000 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
162         33.0000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   3.0
161         32.5000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
160         32.3208 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0
159         31.3875 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   4.0
158         31.2750 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   7.0
157         31.0000   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
156         30.6958   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
155         30.5000 -99.0   1.0   3.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
154         30.0708 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
153         30.0000   1.0   1.0   1.0   2.0 -99.0 -99.0 -99.0 -99.0   1.0
152         29.7000 -99.0   1.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
151         29.1250 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   5.0
150         29.0000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
149         28.7125 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
148         28.5000 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
147         27.9000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   6.0
146         27.7500 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0   3.0
145         27.7208 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   4.0
144         27.0000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
143         26.5500 -99.0   1.0   4.0 -99.0   3.0 -99.0 -99.0 -99.0   7.0
142         26.3875 -99.0 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0
141         26.2875 -99.0 -99.0 -99.0 -99.0   3.0 -99.0 -99.0 -99.0 -99.0
140         26.2833 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0
139         26.2500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   6.0
138         26.0000   1.0 -99.0 -99.0 -99.0 -99.0   3.0 -99.0 -99.0  27.0
137         25.9292 -99.0 -99.0 -99.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0
136         25.9250 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
135         25.5875 -99.0 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0
134         25.4667 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   4.0
133         24.1500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   8.0
132         24.0000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
131         23.4500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
130         23.2500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
129         23.0000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   4.0
128         22.5250 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
127         22.3583 -99.0 -99.0 -99.0 -99.0 -99.0   1.0 -99.0 -99.0   1.0
126         22.0250 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
125         21.6792 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
124         21.0750 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   4.0
123         21.0000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   6.0
122         20.5750 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
121         20.5250 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   3.0
120         20.2500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
119         20.2125 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
118         19.9667 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
117         19.5000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
116         19.2583 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   4.0
115         18.7875 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
114         18.7500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   3.0
113         18.0000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   3.0
112         17.8000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
111         17.4000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
110         16.7000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0 -99.0 -99.0
109         16.1000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   9.0
108         16.0000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
107         15.9000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
106         15.8500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   4.0
105         15.7500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
104         15.7417 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
103         15.5500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
102         15.5000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   8.0
101         15.2458 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   5.0
100         15.1000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
99          15.0500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
98          15.0458 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
97          15.0000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
96          14.5000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   7.0
95          14.4583 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   3.0
94          14.4542 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   7.0
93          14.4000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
92          14.1083 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
91          14.0000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
90          13.8625 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
89          13.8583 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
88          13.7917 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0
87          13.5000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   4.0
86          13.4167 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
85          13.0000 -99.0 -99.0 -99.0   2.0   1.0   1.0 -99.0 -99.0  38.0
84          12.8750 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0
83          12.6500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
82          12.5250 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
81          12.4750 -99.0 -99.0 -99.0 -99.0   2.0 -99.0 -99.0 -99.0   2.0
80          12.3500 -99.0 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0   2.0
79          12.2875 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
78          12.2750 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
77          12.0000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
76          11.5000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   4.0
75          11.2417 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
74          11.1333 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   3.0
73          10.5167 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
72          10.5000 -99.0 -99.0 -99.0 -99.0   2.0   2.0 -99.0 -99.0  20.0
71          10.4625 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0 -99.0 -99.0
70          10.1708 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
69           9.8458 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
68           9.8417 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
67           9.8375 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
66           9.8250 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
65           9.5875 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
64           9.5000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   9.0
63           9.4833 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
62           9.4750 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
61           9.3500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
60           9.2250 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
59           9.2167 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
58           9.0000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
57           8.8500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
56           8.7125 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
55           8.6833 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
54           8.6625 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0  13.0
53           8.6542 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
52           8.5167 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
51           8.4583 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
50           8.4333 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
49           8.4042 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
48           8.3625 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
47           8.3000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
46           8.1583 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
45           8.1375 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
44           8.1125 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
43           8.0500 -99.0 -99.0 -99.0 -99.0   1.0 -99.0 -99.0 -99.0  42.0
42           8.0292 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
41           7.9250 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0  18.0
40           7.8958 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0  38.0
39           7.8875 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
38           7.8792 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   4.0
37           7.8750 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
36           7.8542 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0  13.0
35           7.8292 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
34           7.8000 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
33           7.7958 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   6.0
32           7.7875 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
31           7.7750 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0  16.0
30           7.7500 -99.0 -99.0 -99.0 -99.0 -99.0   1.0 -99.0 -99.0  33.0
29           7.7417 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
28           7.7375 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
27           7.7333 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   4.0
26           7.7292 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
25           7.7250 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
24           7.6500 -99.0 -99.0 -99.0 -99.0 -99.0   3.0 -99.0 -99.0   1.0
23           7.6292 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
22           7.5500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   4.0
21           7.5208 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
20           7.4958 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   3.0
19           7.3125 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
18           7.2500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0  13.0
17           7.2292 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0  15.0
16           7.2250 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0  12.0
15           7.1417 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
14           7.1250 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   4.0
13           7.0542 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
12           7.0500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   7.0
11           7.0458 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
10           6.9750 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
9            6.9500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
8            6.8583 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
7            6.7500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
6            6.4958 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   2.0
5            6.4500 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
4            6.4375 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
3            6.2375 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
2            5.0000 -99.0   1.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0
1            4.0125 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0   1.0
0            0.0000   1.0   2.0 -99.0 -99.0 -99.0 -99.0 -99.0 -99.0  12.0

In [350]:
# Get the majority cabin to be assigned as the cabin for that fare

tmp_cab=[]
for i,j in fare_analysis.sort_values(by='Fare',ascending=False).iterrows():
    cols='ABCDEFGT'
    tmp=list(j[list(cols)])
    if max(tmp)==-99:
        tmp_cab.append([j['Fare'],tmp_cab[-1][1]])
    else:
        ind_max=tmp.index(max(tmp))
        tmp_cab.append([j['Fare'],cols[ind_max]])

# Based on predicted cabin(tmp_cab) impute missing cabins

cab_impute=pd.DataFrame(tmp_cab,columns=['Fare','impute_cab'])
#print(cab_impute.to_string())

# Join it back with main dataframe to fill the missing cabin values and impute

train_f_merge=pd.merge(train_f,cab_impute,on='Fare',how='left')
train_f_merge['cabin_cat'][train_f_merge['cabin_cat']=='n']=train_f_merge['impute_cab']


train_f_merge

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Salutation,Med_Age,cabin_cat,impute_cab
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr,30.0,F,F
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs,35.0,C,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss,21.0,E,E
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs,35.0,C,C
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr,30.0,E,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rev,46.5,D,D
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss,21.0,B,D
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,21.0,1,2,W./C. 6607,23.4500,NaN,S,Miss,21.0,E,E
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr,30.0,C,D
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr,30.0,F,F

In [351]:
# Extract features
cols=['Sex','Age','SibSp','Parch','Fare','Embarked','cabin_cat','Pclass','Survived']
train_filt=train_f_merge[cols]
train_filt.dtypes

#One hot encoding for categorical variables
train_feat_onehot=pd.get_dummies(train_filt)

# Build Features and Target
train_features=train_feat_onehot.drop(['Survived'],axis=1)
train_target=train_feat_onehot['Survived']


# Scaling Continuous values
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Scale and Encode Separate Columns
train_features['Age']  = scaler.fit_transform(train_features['Age'].values.reshape(-1,1)) 
train_features['Fare']  = scaler.fit_transform(train_features['Fare'].values.reshape(-1,1)) 
train_features

,Age,SibSp,Parch,Fare,Pclass,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,cabin_cat_A,cabin_cat_B,cabin_cat_C,cabin_cat_D,cabin_cat_E,cabin_cat_F,cabin_cat_G,cabin_cat_T
0,-0.557772,1,0,-0.502445,3,0,1,0,0,1,0,0,0,0,0,1,0,0
1,0.649453,1,0,0.786845,1,1,0,1,0,0,0,0,1,0,0,0,0,0
2,-0.255965,0,0,-0.488854,3,1,0,0,0,1,0,0,0,0,1,0,0,0
3,0.423099,1,0,0.420730,1,1,0,0,0,1,0,0,1,0,0,0,0,0
4,0.423099,0,0,-0.486337,3,0,1,0,0,1,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,-0.180514,0,0,-0.386671,2,0,1,0,0,1,0,0,0,1,0,0,0,0
887,-0.784126,0,0,-0.044381,1,1,0,0,0,1,0,1,0,0,0,0,0,0
888,-0.633223,1,2,-0.176263,3,1,0,0,0,1,0,0,0,0,1,0,0,0
889,-0.255965,0,0,-0.044381,1,0,1,1,0,0,0,0,1,0,0,0,0,0
890,0.196744,0,0,-0.492378,3,0,1,0,1,0,0,0,0,0,0,1,0,0

In [352]:
# follow the same pre-processing steps for test

for i in test_merge.columns:
    print(i,test_merge[i].isnull().sum())

PassengerId 0
Pclass 0
Name 0
Sex 0
Age 0
SibSp 0
Parch 0
Ticket 0
Fare 0
Cabin 327
Embarked 0
Salutation 0
Med_Age 1
cabin_cat 0
impute_cab 46
impute_cab2 373

In [353]:
# Impute Age based on Salutation

import re
test['Salutation']=test['Name'].apply(lambda x : list(re.findall(' ([A-Za-z]{1,4})\.',x))[0] if list(re.findall(' ([A-Za-z]{1,4})\.',x)) else 'None')

# Merge Salutation of train to test to get the age

test=pd.merge(test,age_med,on='Salutation',how='left')
test['Age'].fillna(test['Med_Age'],inplace=True)
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Salutation,Med_Age
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,Mr,30.0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,Mrs,35.0
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,Mr,30.0
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,Mr,30.0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,Mrs,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,30.0,0,0,A.5. 3236,8.0500,NaN,S,Mr,30.0
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,Dona,NaN
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,Mr,30.0
416,1308,3,"Ware, Mr. Frederick",male,30.0,0,0,359309,8.0500,NaN,S,Mr,30.0
417,1309,3,"Peter, Master. Michael J",male,4.0,1,1,2668,22.3583,NaN,C,None,4.0

In [354]:
#1.Impute Cabin

#1.1 Extract cabin category
test['cabin_cat']=test['Cabin'].apply(lambda x: str(x).strip()[0])
test


#1.2 Analyze Fare to backfill cabin

#1.2.1 Using train backfill data to fill in


test_merge=pd.merge(test,cab_impute,on='Fare',how='left')
test_merge['cabin_cat'][test_merge['cabin_cat']=='n']=test_merge['impute_cab']
test_merge

#1.2.2 Use test backfill data to fill in cabin_cat values that are still missing

import numpy as np

fare_analysis_test= pd.pivot_table(test,index=['Fare'],columns=['cabin_cat'],values='PassengerId',aggfunc=len).reset_index()
fare_analysis_test.fillna(-99,inplace=True)
fare_analysis_test.sort_values(by='Fare',ascending=False,inplace=True)

# Filter fares that are not in training fare analysis dataset
fare_analysis_test=fare_analysis_test[~fare_analysis_test['Fare'].isin(fare_analysis['Fare'])]
fare_analysis_test

# 1.2.3 Get the majority cabin to be assigned as the cabin for that fare

tmp_cab=[]
for i,j in fare_analysis_test.sort_values(by='Fare',ascending=False).iterrows():
    cols='ABCDEFG'
    tmp=list(j[list(cols)])
    if max(tmp)==-99:
        tmp_cab.append([j['Fare'],tmp_cab[-1][1]])
    else:
        ind_max=tmp.index(max(tmp))
        tmp_cab.append([j['Fare'],cols[ind_max]])

# Based on predicted cabin(tmp_cab) impute missing cabins
cab_impute_test=pd.DataFrame(tmp_cab,columns=['Fare','impute_cab2'])


# 1.2.4 Impute missing cabins the to completely fill all missing values of cabin

test_merge=pd.merge(test_merge,cab_impute_test,on='Fare',how='left')#['cabin_cat'].isnull().sum()

test_merge['cabin_cat']=test_merge['cabin_cat'].fillna(test_merge['impute_cab2'])

test_merge['cabin_cat']=test_merge['cabin_cat'].fillna('F') # fill the last remaining cabin with F
test_merge['Fare']=test_merge['Fare'].fillna(0) # fill missing fare as Zero

test_merge['cabin_cat'].unique()

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array(['E', 'C', 'G', 'F', 'B', 'A', 'D'], dtype=object)

In [363]:
# Extract Features and one hot encoding
cols=['Sex','Age','SibSp','Parch','Fare','Embarked','cabin_cat','Pclass']
test_feat_onehot=pd.get_dummies(test_merge[cols])
test_feat_onehot['cabin_cat_T']=0
test_features=test_feat_onehot

# Scaling Continuous values
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

# Scale and Encode Separate Columns
test_features['Age']  = scaler.fit_transform(test_features['Age'].values.reshape(-1,1)) 
test_features['Fare']  = scaler.fit_transform(test_features['Fare'].values.reshape(-1,1)) 
test_features

print(test_features.columns)
print(train_features.columns)

Index(['Age', 'SibSp', 'Parch', 'Fare', 'Pclass', 'Sex_female', 'Sex_male',
       'Embarked_C', 'Embarked_Q', 'Embarked_S', 'cabin_cat_A', 'cabin_cat_B',
       'cabin_cat_C', 'cabin_cat_D', 'cabin_cat_E', 'cabin_cat_F',
       'cabin_cat_G', 'cabin_cat_T'],
      dtype='object')
Index(['Age', 'SibSp', 'Parch', 'Fare', 'Pclass', 'Sex_female', 'Sex_male',
       'Embarked_C', 'Embarked_Q', 'Embarked_S', 'cabin_cat_A', 'cabin_cat_B',
       'cabin_cat_C', 'cabin_cat_D', 'cabin_cat_E', 'cabin_cat_F',
       'cabin_cat_G', 'cabin_cat_T'],
      dtype='object')

In [407]:
# Begin Modelling

#1. Test Train Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(train_features, train_target, test_size=0.33, random_state=42)


# 2. Train the model using Gradient Boosting

from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics

model = DecisionTreeClassifier(criterion='entropy', max_depth=1)
AdaBoost = AdaBoostClassifier(base_estimator=model, n_estimators=5000, learning_rate=0.1)

# 2.1 Fit the model with training data
boostmodel = AdaBoost.fit(X_train, y_train)

# Get score on test data
y_pred = boostmodel.predict(X_test)
predictions = metrics.accuracy_score(y_test, y_pred)
print('The accuracy is: ', predictions * 100, '%')

The accuracy is:  80.0 %

In [396]:
# Make Final Prediction on test data

final_pred_ada = boostmodel.predict(test_features)
final_pred_ada

array([0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1])

In [387]:
from datetime import datetime
dt_tm_stmp=str(datetime.now().strftime("%Y-%m-%d %H%M"))



titanic_submission_ada=test_merge[['PassengerId','Age']]
titanic_submission_ada['Survived']=pd.Series(final_pred_ada)
titanic_submission_ada.drop(['Age'],axis=1,inplace=True)
titanic_submission_ada.to_csv('titanic_submission_ada_{0}.csv'.format(dt_tm_stmp),index=False)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [417]:
# Using Gradient boost

from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
xgbmodel = XGBClassifier()
xgbmodel.fit(X_train, y_train)

#Model Predictions on test data

y_pred = xgbmodel.predict(X_test)
predictions = [round(value) for value in y_pred]

# Print Accruact

accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))


# Make Final Prediction on test data

final_pred_xgb = xgbmodel.predict(test_features)
final_pred_xgb

Accuracy: 80.34%

array([0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1])

In [399]:
from datetime import datetime
dt_tm_stmp=str(datetime.now().strftime("%Y-%m-%d %H%M"))



titanic_submission_xgb=test_merge[['PassengerId','Age']]
titanic_submission_xgb['Survived']=pd.Series(final_pred_xgb)
titanic_submission_xgb.drop(['Age'],axis=1,inplace=True)
titanic_submission_xgb.to_csv('titanic_submission_xgb_{0}.csv'.format(dt_tm_stmp),index=False)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [419]:
X_test.shape

(295, 18)

In [460]:
# Neural Network

# neural network with keras 
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense

# define the keras models
from keras.layers import LeakyReLU

for i in ['']:
    exec('model_{0} = Sequential()'.format(i))
    exec('model_{0}.add(Dense(20, input_dim=18))'.format(i))
    exec('model_{0}.add(LeakyReLU(alpha=0.02))'.format(i))
    exec('model_{0}.add(Dense(20))'.format(i))
    exec('model_{0}.add(LeakyReLU(alpha=0.02))'.format(i))
    exec('model_{0}.add(Dense(20))'.format(i))
    exec('model_{0}.add(LeakyReLU(alpha=0.02))'.format(i))
    exec('model_{0}.add(Dense(8))'.format(i))
    exec('model_{0}.add(LeakyReLU(alpha=0.02))'.format(i))
    exec('model_{0}.add(Dense(8))'.format(i))
    exec('model_{0}.add(LeakyReLU(alpha=0.02))'.format(i))
    exec('model_{0}.add(Dense(1))'.format(i))
    exec('model_{0}.add(LeakyReLU(alpha=0.02))'.format(i))

In [461]:
# compile the keras model

model_.compile(loss='mse', optimizer='adam', metrics=['accuracy'])

# fit the model

model_.fit(X_train, y_train, epochs=50, batch_size=10)

Epoch 1/50
60/60 [==============================] - 0s 1ms/step - loss: 0.2296 - accuracy: 0.6493
Epoch 2/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1821 - accuracy: 0.7416
Epoch 3/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1611 - accuracy: 0.7785
Epoch 4/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1510 - accuracy: 0.7852
Epoch 5/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1466 - accuracy: 0.7987
Epoch 6/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1423 - accuracy: 0.7987
Epoch 7/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1353 - accuracy: 0.8104
Epoch 8/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1331 - accuracy: 0.8104
Epoch 9/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1302 - accuracy: 0.8272
Epoch 10/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1265 - accuracy: 0.8221
Epoch 11/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1249 - accuracy: 0.8322
Epoch 12/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1221 - accuracy: 0.8356
Epoch 13/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1230 - accuracy: 0.8289
Epoch 14/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1211 - accuracy: 0.8372
Epoch 15/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1172 - accuracy: 0.8440
Epoch 16/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1147 - accuracy: 0.8507
Epoch 17/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1130 - accuracy: 0.8540
Epoch 18/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1133 - accuracy: 0.8591
Epoch 19/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1149 - accuracy: 0.8389
Epoch 20/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1103 - accuracy: 0.8624
Epoch 21/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1107 - accuracy: 0.8557
Epoch 22/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1049 - accuracy: 0.8674
Epoch 23/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1062 - accuracy: 0.8658
Epoch 24/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1058 - accuracy: 0.8607
Epoch 25/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1029 - accuracy: 0.8624
Epoch 26/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1016 - accuracy: 0.8725
Epoch 27/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1026 - accuracy: 0.8607
Epoch 28/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1010 - accuracy: 0.8691
Epoch 29/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1012 - accuracy: 0.8641
Epoch 30/50
60/60 [==============================] - 0s 1ms/step - loss: 0.1010 - accuracy: 0.8758
Epoch 31/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0976 - accuracy: 0.8742
Epoch 32/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0976 - accuracy: 0.8842
Epoch 33/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0971 - accuracy: 0.8758
Epoch 34/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0959 - accuracy: 0.8809
Epoch 35/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0946 - accuracy: 0.8826
Epoch 36/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0921 - accuracy: 0.8893
Epoch 37/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0937 - accuracy: 0.8826
Epoch 38/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0901 - accuracy: 0.8909
Epoch 39/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0898 - accuracy: 0.8909
Epoch 40/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0888 - accuracy: 0.8876
Epoch 41/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0906 - accuracy: 0.8893
Epoch 42/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0930 - accuracy: 0.8876
Epoch 43/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0894 - accuracy: 0.8842
Epoch 44/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0862 - accuracy: 0.8893
Epoch 45/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0866 - accuracy: 0.8960
Epoch 46/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0867 - accuracy: 0.8960
Epoch 47/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0926 - accuracy: 0.8842
Epoch 48/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0840 - accuracy: 0.8993
Epoch 49/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0845 - accuracy: 0.8909
Epoch 50/50
60/60 [==============================] - 0s 1ms/step - loss: 0.0877 - accuracy: 0.8859

In [463]:
# Evaluate the model

_, accuracy = model_.evaluate(X_test, y_test)
final_pred_nn=[round(i[0]) for i in final_pred_nn]
print('Accuracy for dir model: %.2f' % (accuracy*100))

10/10 [==============================] - 0s 1ms/step - loss: 0.1528 - accuracy: 0.8136
Accuracy for dir model: 81.36

In [472]:
# Final Prediction

final_pred_nn=model_.predict(test_features)
final_pred_nn=[round(i[0]) for i in final_pred_nn]

In [473]:
from datetime import datetime
dt_tm_stmp=str(datetime.now().strftime("%Y-%m-%d %H%M"))



titanic_submission_nn=test_merge[['PassengerId','Age']]
titanic_submission_nn['Survived']=pd.Series(final_pred_nn)
titanic_submission_nn.drop(['Age'],axis=1,inplace=True)
titanic_submission_nn.to_csv('titanic_submission_nn_{0}.csv'.format(dt_tm_stmp),index=False)

/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [474]:
sum(final_pred_nn)
# This is an untracked change for github

150